<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>City List</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='city.css') }}"
    />
  </head>
  <body>
    <h2>City List</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Country</th>
          <th>Foundation Year</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for city in cities %}
        <tr>
          <td>
              <a href="{{ url_for('city.city_by_id', id=city.idcity) }}">
                {{ city.idcity }}
              </a>
          </td>
          <td>{{ city.name }}</td>
          <td>{{ city.country }}</td>
          <td>{{ city.foundation_year }}</td>
          <td>
            <form
              action="{{ url_for('city.city_') }}"
              method="post"
              style="display: inline"
            >
              <input
                type="hidden"
                name="delete_id"
                value="{{ city.idcity }}"
              />
              <button type="submit" class="standalone-button">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Add New City</h2>
    <form action="" method="post" class="inputform">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        required
      />

      <label for="country">Country:</label>
      <input
        type="text"
        id="country"
        name="country"
        required
      />

      <label for="year">Year of foundation:</label>
      <input
        type="number"
        id="year"
        name="year"
        required
      />

      <button type="submit">Add City</button>
    </form>
  </body>
</html>
