<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>City Information</title>
{#    <link#}
{#      rel="stylesheet"#}
{#      type="text/css"#}
{#      href="{{ url_for('static', filename='customerdetails.css') }}"#}
{#    />#}
  </head>
  <body>
  <tbody>
      <h1>Display City Details</h1>
        <tr>
          <td>
              <a href="{{ url_for('city.city_by_id', id=city.idcity) }}">
                {{ city.idcity }}
              </a>
          </td>
{#          <td>#}
{#            <a href="{{ url_for('customer_details', customer_id=city.CustomerID) }}">#}
{#              {{ city.FirstName }} {{ city.LastName }}#}
{#            </a>#}
{#          </td>#}
          <td>{{ city.name }}</td>
          <td>{{ city.country }}</td>
          <td>{{ city.foundation_year }}</td>
{#          <td>#}
{#            <form#}
{#              action="{{ url_for('create') }}"#}
{#              method="post"#}
{#              style="display: inline"#}
{#            >#}
{#              <input#}
{#                type="hidden"#}
{#                name="delete_customer_id"#}
{#                value="{{ city.CustomerID }}"#}
{#              />#}
{#              <button type="submit" class="standalone-button">Delete</button>#}
{#            </form>#}
{#          </td>#}
        </tr>
      </tbody>
    <h1>Edit City Details</h1>
    <form method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
      />

      <label for="country">Country:</label>
      <input
        type="text"
        id="country"
        name="country"
      />

      <label for="year">Year of foundation:</label>
      <input
        type="number"
        id="year"
        name="year"
      />
      <button type="submit">Update</button>
    </form>
{#    <script src="{{ url_for('static', filename='script.js') }}"></script>#}
  </body>
</html>
