<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database Tables</title>
{#    <link#}
{#      rel="stylesheet"#}
{#      type="text/css"#}
{#      href="{{ url_for('static', filename='customerlist.css') }}"#}
{#    />#}
  </head>
  <body>
    <h1>Tables List</h1>
    <table>
        <tbody>
            <tr>
                <td><a href="{{ url_for('city.city_') }}">
                    city
                </a></td>
                <td><a href="{{ url_for('city.query') }}">
                    simple query
                </a></td>
            </tr>
        </tbody>
    </table>

{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{#    <script src="static/script.js"></script>#}
{#    <script src="{{ url_for('static', filename='script_sorting.js') }}"></script>#}
  </body>
</html>
